/*
 * Footer Styles
 */

/* Set styles for the footer */
footer {
	text-align: center;
	background-color: #0f0;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}
